* {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Goldman Sans' ;
  font-size: 10px;
  background-color: #ccc;
}

a {
  color: #333;
  text-decoration: none;
}

@font-face {
  font-family: Goldman Sans;
  src: url(css/font/GoldmanSans_W_Rg.woff)
}